<div class="space-y-3">
  @for (product of products(); track product.producto_id) {
    <div
      class="
        bg-white
        rounded-2xl
        overflow-hidden
        border border-gray-100
        shadow-sm
        flex
      "
    >
      <!-- Imagen -->
      @if (product.imagen_url) {
        <figure class="w-26">
          <img 
            (click)="openProductDetail(product)"
            [src]="product.imagen_url" 
            [alt]="product.nombre"
            class="w-full h-full aspect-square object-cover cursor-pointer"
          />
        </figure>
      } @else {
        <div 
          (click)="openProductDetail(product)"
          class="
            w-26
            shrink-0
            bg-linear-to-br from-orange-100 to-amber-100
            flex items-center justify-center
            text-4xl
            cursor-pointer
          "
        >
          {{ product.emoji || '🍽️' }}
        </div>
      }
      
      <!-- Info -->
      <div 
        (click)="openProductDetail(product)"
        class="flex-1 p-3 cursor-pointer"
      >
        <h3 class="font-semibold text-gray-900 mb-1">
          {{ product.nombre }}
        </h3>
        <p class="text-xs text-gray-600 mb-2 line-clamp-2">
          {{ product.descripcion }}
        </p>
        <div class="flex items-center gap-2">
          <span class="text-lg font-bold text-orange-600">
            ${{ product.precio_unitario | number }}
          </span>
          @if(!product.disponibilidad) {
            <span class="text-xs text-red-600 font-medium">
              No disponible
            </span>
          }
        </div>
      </div>
      
      <!-- Botón agregar -->
      <div class="flex items-center pr-3">
        <button
          [disabled]="!product.disponibilidad"
          (click)="addToCart(product, $event)"
          class="
            w-10 h-10
            bg-orange-500 text-white
            rounded-full
            flex items-center justify-center
            shadow-md
            active:scale-95
            disabled:opacity-30 disabled:cursor-not-allowed
            transition
          "
        >
          <lucide-icon [img]="Plus" class="w-4 h-4"></lucide-icon>
        </button>
      </div>
    </div>
  }
</div>