@import "tailwindcss";

/* styles.css - Configuración global */
body {
  overscroll-behavior: none; /* Previene bounce en iOS */
}

html {
  scroll-padding-top: calc(56px + env(safe-area-inset-top));
  scroll-padding-bottom: calc(64px + env(safe-area-inset-bottom));
}